a{
    font-family: 'Krona One', sans-serif;
    color: black;
    text-decoration: none;
}

a:hover{
  text-decoration: underline !important;
  color: black;

}

#metro-portada{
  background: url(http://www.radioformula.com.mx/images/notas/notas_201802/20180202_14_28_metro1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  margin: 0;

}


#fondo-header{
  background: url(https://upload.wikimedia.org/wikipedia/commons/e/e4/Agricolaoriental.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
  margin: 0;


}

#barra-nav{
background-color: #fff!important;
color: black !important;
}

#tamano-linea-a{
  font-size: 25px;
}
